.main_body{
    background-image: url('images/pic10.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(255, 238, 0); 
    height: 400px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.all_img{
    padding-top: 40px;
    display: flex;
    justify-items: center;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

